terraform/terraform.tfstate.backup
terraform/terraform.tfstate
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/6.10.0/linux_amd64/terraform-provider-aws_v6.10.0_x5
terraform/.terraform.lock.hcl
terraform/terra-ansible-key
terraform/terra-ansible-key.pub
terraform/.terraform
